/*****************************************************/
/*                  BlueEyes Engine                  */
/*                  Common                           */
/*                                                   */
/* Version 1.0.0                                     */
/* Date 2022/12/15                                   */
/* Designed by Cenlun Chung Po Lun                   */
/*****************************************************/

/***************** Global Settings *****************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
  user-select: none;
}

:root{
  --colorPrimary: #0080FF;
  --colorSecondary: #C2E1FF;
  --colorAccent: #004488;
  --colorText: #646464;
  --colorShadow: #646464;
  --colorBlurShadow: rgba(100,100,100,.5);
  --blurLevel: 10px;
}

::-webkit-scrollbar{
  width: 0px;
}

/***************** Structure *****************/

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.Header{
  letter-spacing: 5px;
  text-align: center;
  color: var(--colorText);
  font-size: 32px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.Content{
  margin: 20px;
  text-align: justify;
  font-size: 20px;
  color: var(--colorText);
  min-width: 100vh;
}

/***************** Elements *****************/

.buttonPrimary{
  width: 100%;
  background-color: var(--colorPrimary);
  padding: 15px;
  border-radius: 8px;
  border-width: 0;
  transition: all .15s ease-in-out;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 18px;
  color:white;
}

.buttonPrimary:hover{
  box-shadow: 0 5px 15px;
  background: var(--colorSecondary);
  color: black;
}

.buttonPrimary:active{
  background: var(--colorAccent);
  color: var(--colorSecondary);;
}

input, textarea{
  width: 100%;
  background-color: var(--colorSecondary);
  border-radius: 8px;
  border-width: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 25px;
  resize: none;
  margin-bottom: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
  opacity: 0;
}

p{
  margin-bottom: 10px;
}

select{
  width: 100%;
  font-size: 25px;
  padding: 15px;
  background-color: #c2e1ff;
  border-radius: 8px;
  border-width: 0;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 18px;
  color: black;
}